= render 'navbar'
%h1 Index Artikel

.main
  - @article.each do |post|
    .head-content
      .picture
        = image_tag post.picture.url(:thumb), alt: post.title
      .title
        %h2= post.title
      .attributes
        %span.author Author : #{ post.user.first_name }
        %span.editing #{link_to 'Show', article_path(post)} | #{link_to 'Edit', edit_article_path(post)} | #{link_to 'Delete Article', article_path(post), method: :delete, data: { confirm: 'Are You Sure ?' }}
    .main-content
      .body
        = post.body
      .attributes
        %span Category #{ post.category.name }
        %span Tags #{ post.tags.join(', ') }